{% extends 'layouts/main/index.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/beauty.css">{% endblock %}
{% block main %}
    <div class="features">
        {% if entertainments %}
            <div class="title"><h3>Все акции</h3></div>
            <div class="elements">
                {% for el in entertainments %}
                    <div class="element">
                        <a href="{% url 'entertainment_detail' el.id %}">
                            <img src="{{ el.image.url }}" alt="image">
                        </a>
                        <p>{{ el.descriprion }}</p>
                        <p>{{ el.price }}</p>

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Нет Развличение</p>
        {% endif %}

    </div>
{% endblock %}