<footer>
    <div class="footers">
        <div class="icon">
            <img src="/static/images/Vectoricon.svg" alt="icon">
        </div>
        <h5>Сервис скидок и выгодных предложений</h5>
        <ul> О сервисе
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Как купить</a></li>
            <li><a href="#">Реквезиты</a></li>
        </ul>
        <ul> Оплата и доставка
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Покупка в кредиты</a></li>
        </ul>
        <ul> Мы в соцсетях
            <a href=""><img src="/static/images/Frameinstagram.svg" alt="Описание изображения"></a>
            <a href=""><img src="/static/images/Frametelegram.svg"></a>
            <a href=""><img src="/static/images/Framewhatsup.svg"></a>
            <a href=""><img src="/static/images/Framevk.svg"></a>
            <a href=""><img src="/static/images/Framefacebook.svg"></a>
        </ul>
    </div>
</footer>